:root {
  --bg-color-000: #eeeeee;
  --bg-color-100: #f8f8f8;
  --bg-color-200: #ffffff;

  --color-000: #111;
  --color-100: #222;
  --color-200: #333;
  --color-300: #444;
  --color-400: #555;
  --color-500: #666;
  --color-600: #777;
  --color-700: #888;

  --primary-color: #005a00;

  --sm-screen-size: 800px;
  --md-screen-size: 900px;
  --lg-screen-size: 1200px;
  --xl-screen-size: 1536px;

  --container-max-width: var(--sm-screen-size);
  --container-max-width-without-scrollbar: calc(796px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-000: #222;
    --bg-color-100: #333;
    --bg-color-200: #444;

    --color-000: #eee;
    --color-100: #ccc;
    --color-200: #bbb;
    --color-300: #aaa;
    --color-400: #999;
    --color-500: #888;
    --color-600: #777;
    --color-700: #666;

    --primary-color: #58c400;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --container-max-width-without-scrollbar: calc(100vw - 2.25rem);
  }
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color-000);
  color: var(--color-000);
  font-weight: 400;
  font-size: 16px;
}

* {
  color: inherit;
  font-family: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  position: relative;
  transition: color 100ms linear, outline 100ms linear;
}

a.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  box-shadow: 0 2px 0 0 currentColor;
}

a:hover {
  color: var(--primary-color);
}

a:focus {
  outline-offset: 0.25rem;
  outline-style: dashed;
  outline-width: 0.15rem;
  outline-color: currentColor;
}

button {
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

button:focus {
  outline-offset: 0.25rem;
  outline-style: dashed;
  outline-width: 0.15rem;
  outline-color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

hr {
  margin: 1rem 0;
  height: 1px;
  background-color: var(--color-700);
  border: none;
}

pre {
  background-color: var(--bg-color-100);
  padding: 1rem;
  border-radius: 1rem;
  overflow: auto;
}

pre:not(:last-child) {
  margin-bottom: 1rem;
}

pre:not(:first-child) {
  margin-top: 1rem;
}

code {
  font-family: monospace;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color-000);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-300);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
