.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.collapsible {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms ease-in-out;
}

.open {
  grid-template-rows: 1fr;
}

.inner {
  overflow: hidden;
}

.chevron {
  transform: rotateZ(0);
  transition: transform 300ms ease-out;
}

.chevron-open {
  transform: rotateZ(-180deg);
}
